<f:layout name="Default" />

<f:section name="main">
	<div class="teaser imagewidth25 bg-color5">
		<div class="csc-textpic csc-textpic-intext-left-nowrap">
			<div class="csc-textpic-imagewrap" data-csc-images="1" data-csc-cols="1">
				<figure>
					<f:link.page pageUid="{settings.pidOfDetailPage}">
						<f:image src="fileadmin/Resources/images/parken.png" alt="Parken" width="105" />
					</f:link.page>
				</figure>
			</div>
			<div class="csc-textpic-text">
				<div><h3>
					<f:link.page pageUid="{settings.pidOfDetailPage}">Parkleitsystem</f:link.page></h3>
					<span class="h3font">
						<f:link.page pageUid="{settings.pidOfDetailPage}">
							<span id="pls-start">
								<span id="jwGetFreeParking" data-ajax-refresh="{ajaxRefresh}"></span>
							</span>
						</f:link.page>
					</span>
					<span> freie Plätze</span>
				</div>
			</div>
		</div>
	</div>
</f:section>
